<% include header %>

<h1>What's your zip code?</h1>

<form class="form-control" id="zipform" action="" method="">
  <div class="form-group">
    <fieldset class="form-group">
      <input type="number" class="form-control" name="zip" placeholder="12345" autofocus required>
      <input type="submit" class="btn btn-primary" name="" value="GO">
    </fieldset>
  </div>
</form>
<script type="text/javascript">

</script>
<% include footer %>
