<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Nickels</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr"
     crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body class="container">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <div class="main" id="main">
      <section class="content">
        <div class="header">
          <H1>Hello world! This is HTML5 Boilerplate.</H1>
        </div>
        <div class="primary">
          <article class="test">
            <h3>Content!</h3>
          </article>

        </div>
        <div class="container">
          <section class = "header">
            <h1>Post With Express
              <a href="/new-entry" class="btn btn-primary pull-right">
                Make a Post?
              </a>
            </h1>
          </section>
        </div>
      </section>
    </div>
