

html {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
*, *:before, *:after {
 -webkit-box-sizing: inherit;
 -moz-box-sizing: inherit;
 box-sizing: inherit;
 }


article{
  margin:10px;
  padding:5px;
}
.content{
  max-width: 100%;
}
.header{
  text-align: center;
}

.well{
  margin: 2em;
}
.dice-form{
  padding:6px 8px;
}
input[name="roll"]{
  position: relative;
  top:22px;
}
.panel-content > p{
  padding:12px;
}
